
<div class="row">
    <div class="row">
        <div class="col-md-12">
            <h1 id="title">@ViewBag.Title</h1>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-md-12 text-center">
                <ul class="nav nav-pills" id="pills">
                    <li>@Html.ActionLink("Home", "Index")</li>
                    <li>@Html.ActionLink("Logbook Entry", "Entry")</li>
                    <li>@Html.ActionLink("Maintenance", "Maintenance")</li>
                    <li>@Html.ActionLink("Stockroom Orders", "StockroomOrders")</li>
                    <li>@Html.ActionLink("Stockroom Requests", "StockroomOrderRequests")</li>
                </ul>
            </div>
        </div>
    </div>
</div>
