@{
    /**
     * Author: Jason Bensel
     * Stockroom main page
     */

    //Sets tab bar title
    ViewBag.Title = "General Log Book Entry";

    //Uses this scaffolding as main layout --
    //can change later, but the below cshtml is called by RenderBody() in _layout.cshmtl
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li>@Html.ActionLink("Stockroom Logbook", "Stockroom")</li>
            <li>@Html.ActionLink("Maintenance Logbook", "Maintenance")</li>
            <li>@Html.ActionLink("General Logbook", "General")</li>
            <li>@Html.ActionLink("General Entry Logbook", "GeneralEntry")</li>
        </ul>
    </div>
    <div class="col-md-10">
        <h1>@ViewBag.Title</h1>
    </div>
</div>