@using CIS467_AMP.Models
@model IEnumerable<CIS467_AMP.Models.Logbook.LogbookGeneral>
@{
    /**
     * Author: Rodney Fulk
     * General logbook
     */

    //Sets tab bar title
    ViewBag.Title = "Logbook";

    //Uses this scaffolding as main layout --
    //can change later, but the below cshtml is called by RenderBody() in _layout.cshmtl
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_TitleAndLinks")
<div class="row">

    <div>
        <div class="col col-md-10">
            <table id="main" class="table">
                <thead>
                    <tr>
                        <th>Date Entered</th>
                        <th>Entered by</th>
                        <th>Asset</th>
                        <th>Topic</th>
                        <th>Entry</th>
                    </tr>
                </thead>
              
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.EnteredDateTime)</td>
                            <td>@Html.DisplayFor(modelItem => item.Worker.LastName), @Html.DisplayFor(modelItem => item.Worker.FirstName)</td>
                            <td>@Html.DisplayFor(modelItem => item.AssetInventory.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.LogbookGeneralStatus.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Entry)</td>
                        </tr>
                    }
                </tbody>
            </table>
            @using (Html.BeginForm("Entry", "Logbook"))
            {
                if (User.IsInRole(RoleName.CanCreateLogbookEntry) || User.IsInRole(RoleName.Administrator))
                {
                    <button type="submit" class="btn btn-primary">Make New Entry</button>
                }
            }
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
             $('#main').DataTable();
        });
    </script>
}
