@model IEnumerable<CIS467_AMP.Models.Maintenance.MaintenanceWorkOrder>
@{
    /**
     * Author: Rodney Fulk
     * Stockroom orders logbook
     */

    //Sets tab bar title
    ViewBag.Title = "Maintenance";

    //Uses this scaffolding as main layout --
    //can change later, but the below cshtml is called by RenderBody() in _layout.cshmtl
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_TitleAndLinks")
<div class="row">
    <div>
        <div class="col col-md-10">
            <table class="table">
                <tr>
                    <th>Work Order</th>
                    <th>Requested</th>
                    <th>Requested by</th>
                    <th>Asset</th>
                    <th>Status</th>
                    <th>Status Updated</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(item.Id.ToString(), "EditWorkOrder", "Maintenance", new {id = item.Id}, null)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreatedDateTime)</td>
                        <td>@Html.DisplayFor(modelItem => item.Creator.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.AssetInventory.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.MaintenanceStatus.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.LastStatusDateTime)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
