<div class="row">
    <div class="row">
        <div class="col-md-12">
            <h1 id="title">@ViewBag.Title</h1>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-md-12 text-center">
                <ul class="nav nav-pills" id="pills">
                    <li>@Html.ActionLink("Inventory", "Inventory")</li>
                    <li>@Html.ActionLink("Order Request", "OrderRequest")</li>
                    <li>@Html.ActionLink("Part Requests", "PartRequest")</li>
                    <li>@Html.ActionLink("Low Quanty Inventory", "LowOrderRequest")</li>
                </ul>
            </div>
        </div>
    </div>
</div>