@model IEnumerable<CIS467_AMP.Models.StockRoom.StockRoomInventory>

@{
    /**
     * Author: Jason Bensel
     * Queries current inventory
     */

    //Sets tab bar title
    ViewBag.Title = "Inventory";

    //Uses this scaffolding as main layout -- 
    //can change later, but the below cshtml is called by RenderBody() in _layout.cshmtl
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_TitleAndLinks")
<div class="row">
    <div class="col col-md-10">
        <table class="table" id="inventory">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.StockId)</th>
                    <th>@Html.DisplayNameFor(m => m.ManufacturerPart.Name)</th>
                    <th>@Html.DisplayNameFor(m => m.ManufacturerPart.Number)</th>
                    <th>@Html.DisplayNameFor(m => m.MinRequired)</th>
                    <th>@Html.DisplayNameFor(m => m.OnHand)</th>
                    <th>@Html.DisplayNameFor(m => m.Reserved)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var className = "active";
                    if (item.MinRequired > item.OnHand - item.Reserved || item.MinRequired > item.OnHand)
                    {
                        className = "danger";
                    }
                    <tr class=@className>
                        <td>@Html.DisplayFor(model => item.StockId)</td>
                        <td>@Html.DisplayFor(model => item.ManufacturerPart.Name)</td>
                        <td>@Html.DisplayFor(model => item.ManufacturerPart.Number)</td>
                        <td>@Html.DisplayFor(model => item.MinRequired)</td>
                        <td>@Html.DisplayFor(model => item.OnHand)</td>
                        <td>@Html.DisplayFor(model => item.Reserved)</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $('#inventory').DataTable();
        });
    </script>
}


