@model IEnumerable<CIS467_AMP.Models.StockRoom.StockroomInventory>

@{
    /**
     * Author: Jason Bensel
     * Maintenance current work orders
     */

    //Sets tab bar title
    ViewBag.Title = "Inventory";

    //Uses this scaffolding as main layout -- 
    //can change later, but the below cshtml is called by RenderBody() in _layout.cshmtl
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <div class="row">
    <div class="col col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li>@Html.ActionLink("Stock Room Home", "Index")</li>
            <li>@Html.ActionLink("Inventory", "Inventory")</li>
            <li>@Html.ActionLink("Order Request", "OrderRequest")</li>
        </ul>
    </div>
    <div class="col-md-10">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</div>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(m => m.StockId)</th>
            <th>@Html.DisplayNameFor(m => m.Name)</th>
            <th>@Html.DisplayNameFor(m => m.AssetId)</th>
            <th>@Html.DisplayNameFor(m => m.PartId)</th>
            <th>@Html.DisplayNameFor(m => m.ManufacturerPartNumber)</th>
            <th>@Html.DisplayNameFor(m => m.OnHand)</th>
            <th>@Html.DisplayNameFor(m => m.MinRequired)</th>
            <th>@Html.DisplayNameFor(m => m.Reserved)</th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.StockId)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.AssetId)</td>
            <td>@Html.DisplayFor(modelItem => item.PartId)</td>
            <td>@Html.DisplayFor(modelItem => item.ManufacturerPartNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.OnHand)</td>
            <td>@Html.DisplayFor(modelItem => item.MinRequired)</td>
            <td>@Html.DisplayFor(modelItem => item.Reserved)</td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>*@
        </tr>
    }
    
    </table>
