@model CIS467_AMP.ViewModels.StockRoom.OrderRequestViewModel

@{
    /**
     * Author: Jason Bensel
     * Order Request Form
     */

    //Sets tab bar title
    ViewBag.Title = "Order Requests";

    //Uses this scaffolding as main layout --
    //can change later, but the below cshtml is called by RenderBody() in _layout.cshmtl
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" id="content">
    <div class="col col-md-12">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</div>
<div class="row">
    <div class="navbar col-md-2" id="sideLinks">
        <ul class="nav nav-pills nav-stacked">
            <li>@Html.ActionLink("Inventory", "Inventory")</li>
            <li>@Html.ActionLink("Order Request", "OrderRequest")</li>
            <li>@Html.ActionLink("Part Requests", "PartRequest")</li>
            <li>@Html.ActionLink("Low Quanty Inventory", "LowOrderRequest")</li>
        </ul>
    </div>
    <div class="col-md-10">
        @using (Html.BeginForm("CreateNewOrder", "StockRoom"))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Inv.StockId)
                @Html.DropDownListFor(m => m.Inv.StockId, new SelectList(Model.Inventory, "Id", "StockId"), "", new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Line.NumberOfItemsOrdered)
                @Html.TextBoxFor(m => m.Line.NumberOfItemsOrdered, new {@class = "form-control", @type = "number"})
            </div>
            <button type="submit" class="btn btn-primary">Confirm Order</button>
        }
    </div>
   
</div>