@model CIS467_AMP.ViewModels.StockRoom.PartRequestViewModel
@{
    /**
     * Author: Jason Bensel
     * Order Requests
     */

    //Sets tab bar title
    ViewBag.Title = "Part Requests";

    //Uses this scaffolding as main layout --
    //can change later, but the below cshtml is called by RenderBody() in _layout.cshmtl
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_TitleAndLinks")
    <div class="row">
        <div class="col col-md-10">
            @foreach (var supplier in Model.Suppliers)
            {
                using (Html.BeginForm("HandlePartRequests", "StockRoom"))
                {
                    <div class="row">
                        <table class="table">
                            <tr>
                                <th>Manufacturer</th>
                                <th>Part Name</th>
                                <th>Part Number</th>
                                <th>Qty Requested</th>
                                <th>Qty Onhand</th>
                                <th>Supplier</th>
                                <th>Approve?</th>
                                <th>Place Order</th>

                            </tr>
                            @foreach (var request in Model.RequestSupplier)
                            {
                                if (supplier.Id == request.Supplier.Id)
                                {
                                    <tr>
                                        <td>@request.Request.ManufacturerPart.Name</td>
                                        <td>@request.Request.ManufacturerPart.Name</td>
                                        <td>@request.Request.ManufacturerPart.Number</td>
                                        <td>@request.Request.Number</td>
                                        <td>@request.Quantity</td>
                                        <td>@request.Supplier.Name</td>
                                        <td><button type="submit" name="ApproveOrder" value="@request.Request.ManufacturerPartId,
                                                                                             @request.Request.Number,
                                                                                             @request.Request.StockRoomRequestId" class="btn btn-primary">Approve</button></td>
                                        <td id="@request.Request.ManufacturerPart.Number">
                                            @Html.CheckBox("" + request.Request.Id)
                                        </td>
                                    </tr>

                                }


                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>@Html.TextBox("Supplier", supplier.Name, new { @class = "form-control", @readonly = "readonly" })</td>
                                <td></td>
                                <td></td>
                                <td><button type="submit" name="CreateOrder" class="btn btn-primary">Confirm Order</button></td>
                            </tr>
                        </table>
                    </div>
                }
            }




        </div>
    </div>
    

</div>
