
<div class="col col-md-2">
    <ul class="nav nav-pills nav-stacked">
        @*<li>@Html.ActionLink("Orders", "StockroomOrders")</li>
        <li>@Html.ActionLink("Requests", "StockroomOrderRequests")</li>
        <li>@Html.ActionLink("Maintenance", "Maintenance")</li>
        <li>@Html.ActionLink("Logbook", "Index")</li>*@
        <li>@Html.ActionLink("Blank Parts Request", "BlankPartsRequest")</li>
    </ul>
</div>
@*Here as a place holder. No current need to do more*@