<div class="row">
    <div class="row">
        <div class="col-md-12">
            <h1 id="title">@ViewBag.Title</h1>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-md-12 text-center">
                <ul class="nav nav-pills" id="pills">
                    <li>@Html.ActionLink("Work Orders", "Index")</li>
                    <li>@Html.ActionLink("Create Work Order", "NewWorkOrder")</li>
                    <li>@Html.ActionLink("Edit Work Order", "EditWorkOrder")</li>
                    <li>@Html.ActionLink("Job Plan", "JobPlan")</li>
                </ul>
            </div>
        </div>
    </div>
</div>