@model IEnumerable<CIS467_AMP.Models.Maintenance.WorkOrder>

@{
    ViewBag.Title = "CurrentWorkOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li>@Html.ActionLink("Maintenance Home", "Index")</li>
            <li>@Html.ActionLink("Current Work Orders", "CurrentWorkOrder")</li>
            <li>@Html.ActionLink("Create Work Order", "WorkOrder")</li>
        </ul>
    </div>
    <div class="col-md-10">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.CreatedDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.LastStatusDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.ShortDesc)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.LongDesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(m => item.CreatedDateTime)
        </td>
        <td>
            @Html.DisplayFor(m => item.LastStatusDateTime)
        </td>
        <td>
            @Html.DisplayFor(m => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(m => item.ShortDesc)
        </td>
        <td>
            @Html.DisplayFor(m => item.LongDesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Approve", "Approve", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
