@using CIS467_AMP.Models
@model IEnumerable<CIS467_AMP.Models.Maintenance.MaintenanceWorkOrder>
@{
    /**
     * Author: Rodney Fulk
     * Stockroom orders logbook
     */

    //Sets tab bar title
    ViewBag.Title = "Work Order Listing";

    //Uses this scaffolding as main layout --
    //can change later, but the below cshtml is called by RenderBody() in _layout.cshmtl
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_TitleAndLinks")
<div class="row">
    <div>

        <div class="col col-md-10">
            <table class="table" id="workOrders">
                <thead>
                <tr>
                    <th>Work Order</th>
                    <th>Requested</th>
                    <th>Requested by</th>
                    <th>Asset</th>
                    <th>Status</th>
                    <th>Status Updated</th>
                    <th>Lead Worker</th>

                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @if ((User.IsInRole(RoleName.Administrator)) || (User.IsInRole(RoleName.CanEditWorkOrder)))
                        {
                            <td>@Html.ActionLink(item.Id.ToString(), "EditWorkOrder", "Maintenance", new { id = item.Id }, null)</td>
                        }
                        else
                        {
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        }
                        <td>@Html.DisplayFor(modelItem => item.CreatedDateTime)</td>
                        <td>@Html.DisplayFor(modelItem => item.Creator.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.AssetInventory.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.MaintenanceStatus.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.LastStatusDateTime)</td>
                        <td>@Html.DisplayFor(modelItem => item.LeadWorker.Name)</td>
                    </tr>
                }
                </tbody>
            </table>
            @if ((User.IsInRole(RoleName.Administrator)) || (User.IsInRole(RoleName.CanCreateWorkOrder)))
            {
                using (Html.BeginForm("NewWorkOrder", "Maintenance"))
                 {
                     @Html.AntiForgeryToken()

                     {
                         <button type="submit" class="btn btn-primary">Make New Work Order</button>
                     }
                 }
            }
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
             $('#workOrders').DataTable();
        });
    </script>
}
